.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background: linear-gradient(135deg, #386080, #233757);
    box-shadow: 2px 2px 50px rgb(83, 83, 83);
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2 {
        text-align: center;
        margin: 20px 0;
    }
}

.library-song {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background 0.5s ease;
    img {
        border: 2px solid rgb(24, 24, 24);
        width: 50%;
    }
    &:hover {
        // background: linear-gradient(135deg, #68a5ca, #6b83a7);
        background: #6b83a7;
    }
}
.song-description {
    padding-left: 10px;
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 17px;
    }
}
.selected {
    background: linear-gradient(135deg, #5d95b8, #637899);
}
.active-library {
    transform: translateX(0);
    opacity: 1;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}
