nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        border: 2px solid rgb(220, 220, 220);
        padding: 5px;
        transition: all 0.3s ease;
        color: #d2d2d2;
        font-size: 17px;
        &:hover {
            background:rgb(220, 220, 220);
            color: black;
        }
    }
}