.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.time-control {
    width: 50%;
    display: flex;
    input {
        width: 100%;
        padding: 10px 0;
    }
    p {
        padding: 10px;
    }
}
.play-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 30%;
    color: #d2d2d2;
    svg {
        cursor: pointer;
    }
}